apiVersion: v1
kind: Config
clusters:
  - name: {{ k8s_kubernetes_admin_config.clusters[0].name }}
    cluster:
      server: {{ k8s_kubernetes_admin_config.clusters[0].cluster.server }}
      certificate-authority-data: {{ k8s_kubernetes_admin_config.clusters[0].cluster['certificate-authority-data'] }}
users:
  - name: {{ ansible_facts_env_user }}
    user:
      token: {{ k8s_kubernetes_user_token }}
preferences: {}
contexts:
  - name: {{ ansible_facts_env_user }}@{{ k8s_kubernetes_admin_config.clusters[0].name }}
    context:
      cluster: {{ k8s_kubernetes_admin_config.clusters[0].name }}
      user: {{ ansible_facts_env_user }}
current-context: {{ ansible_facts_env_user }}@{{ k8s_kubernetes_admin_config.clusters[0].name }}
