---

kind: ConfigMap
apiVersion: v1
metadata:
  name: kube-flannel-cfg
  namespace: kube-flannel
data:
  net-conf.json: |
    {
      "Network": "{{ k8s_kubernetes_pod_subnet }}",
      "Backend": {
        "Type": "vxlan"
      }
    }